version: "3.8"

services:
  tg-headless-client:
    image: ghcr.io/sphexi/twingate-custom-client-container:latest  
    privileged: true

    
    environment:
      TWINGATE_SERVICE_KEY: | # Replace with your Twingate service key JSON
        {
          "host": "example.twingate.com",
          "client_id": "YOUR_CLIENT_ID",
          "client_secret": "YOUR_CLIENT_SECRET",
          "id": "YOUR_SERVICE_KEY_ID"
        }

    devices:
      - /dev/net/tun
    cap_add:
      - NET_ADMIN

    # For interactive shell: `docker compose exec -it tg-headless-client bash`
    tty: true

    restart: unless-stopped
